leaflet(width='640', height='480', geoJson="geoJson" center='center', markers='markers', id='map')
{{markers}}
div(ng-repeat="address in paris"))
	div(ng-repeat="address2 in address"))
		pre {{address2}}